<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rock Scissors Paper</title>

    <!-- Favicon -->
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut" href="/img/favicon.ico" type="image/x-icon">

    <!-- jquery -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="//cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.37/dist/web3.min.js"></script>
	<script	src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- Custom fonts for this theme -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css">
    <link href="http://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Nanum+Gothic&display=swap" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="/css/freelancer.css" rel="stylesheet">
    <link href="/css/game-rps.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>

<body class="shadow p-3 bg-white rounded" id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" onclick="location.href = '/'">Game Centre</a>
            <button
                class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-info text-white rounded"
                type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href='/logout'>LOGOUT</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#portfolio">GameList</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#about">About</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#contact">Contact</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href='/profile'>Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header>
        <div class="omdoll_content_wrapper">
            <div id="rockgame_module_view">
                <!-- 위쪽 -->
                <h2 style="text-align: center">가위. 바위. 보 게임</h2>
                <div class="xecenter_div_line"></div>
            </div>
        </div>
    </header>
    <!-- 가운데 -->
    <section>
        <div class="rockgame_center">
            <p class="row">
                <div class="game_result">
                    <div class="name" id="com_name">
                        COM
                    </div>
                    <div class="name" id="player_name">
                        PLAYER
                    </div>
                </div>
                <div>
                    <div class="result shadow-sm p-3 bg-white rounded" id="com_result"><img  id="img-com-result" src=""></div>
                    <div class="result" id="versus"> <img src="/img/portfolio/versus.png"></div>
                    <div class="result shadow-sm p-3 bg-white rounded" id="player_result"><img  id="img-ply-selected" src=""></div>
                </div>
            </p>
            <div class="game_select">
                <input type="hidden" name="rsp_select" value="">
                <div class="rps_box">
                    <input class="rps_img" type="image" id="rps_paper" src="/img/rps/palm.png" onclick="">
                </div>
                <div class="rps_box">
                    <input class="rps_img" type="image" id="rps_scissors" src="/img/rps/scissors.png" onclick="">
                </div>
                <div class="rps_box">
                    <input class="rps_img" type="image" id="rps_rock" src="/img/rps/rock.png" onclick="">
                </div>
            </div>
        </div>
    </section>
    <!-- 아래쪽 -->
    <footer class="rounded-bottom">
        <p class="row">
            <p class="right_bar">
                <div class="rockgame_set">
                    <button type="submit" class="btn btn-outline-primary btn-lg" data-toggle="modal"
                        data-target="#modalBalance">
                        <i class="fas fa-wallet fa-2x" style="color: #eee"></i>
                        &nbsp; Balance
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-lg" id="btn-get-token">
                        <i class="fas fa-coins fa-2x" style="color:#eee"></i>
                        &nbsp; Get Token
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-lg" data-toggle="modal" 
                        data-target="#modalBetting">
                        <i class="fas fa-comments-dollar fa-2x" style="color:#eee"></i>
                        &nbsp; Betting
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-lg" data-toggle="modal"
                        data-target="#modalRule">
                        <i class="fas fa-book fa-2x" style="color: #eee"></i>
                        &nbsp; Rule
                    </button>
                </div>
            </p>
        </p>
    </footer>


    <!--Balance Modal-->
    <div class="modal fade" id="modalBalance" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-notify modal-info" role="document">
            <!--Content-->
            <div class="modal-content text-center">
                <!--Header-->
                <div class="modal-header d-flex justify-content-center">
                    <p class="modalName">Balance</p>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <p class="modalContent">Your balance is</p>
                    <input type="text" class="form-control" id="ply-balance" value="" readonly>
                </div>
                <!--Footer-->
                <div class="modal-footer flex-center">
                    <button type="button" class="btn btn-outline-primary btn-sm" data-dismiss="modal" id="balanceclose">Close</button>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>

    <!--Betting Modal-->
    <div class="modal fade" id="modalBetting" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-notify modal-info" role="document">
            <!--Content-->
            <div class="modal-content text-center">
                <!--Header-->
                <div class="modal-header d-flex justify-content-center">
                    <p class="modalName">Betting</p>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <p class="modalContent">How much token want to bet?</p>
                    <input type="text" class="callBalance" id="input-bet-amount" value="">
                </div>
                <!--Footer-->
                <div class="modal-footer flex-center">
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="betbutton">Bet!</button>
                    <button type="button" class="btn btn-outline-primary btn-sm" data-dismiss="modal" id="betclose">Close</button>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>

    <!--Rule Modal-->
    <div class="modal fade" id="modalRule" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-notify modal-info" role="document">
            <!--Content-->
            <div class="modal-content text-center">
                <!--Header-->
                <div class="modal-header d-flex justify-content-center">
                    <p class="modalName">Rule Book</p>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <p class="modalContent_Rule">
                        1. Check your balance with 'Balance' button<br>
                        (If you don't have any token, let's get token by clicking 'Get Token' button)<br>
                        2. Click 'Betting' button and then write number that how much token do you want<br>
                        3. Click your pick between 'paper', 'scissors' and 'rock'<br>
                        4. After pandding, you can show result of game<br>
                    </p>
                    
                </div>
                <!--Footer-->
                <div class="modal-footer flex-center">
                    <button type="button" class="btn btn-outline-primary btn-sm" data-dismiss="modal" id="ruleclose">Close</button>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>

    <div>
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col" id='th_num'>#</th>
					<th scope="col" id='th_betAmount'>Bet</th>
					<th scope="col" id='th_com'>Com</th>
					<th scope="col" id='th_user'>User</th>
					<th scope="col" id='th_result'>Result</th>
					<th scope="col" id='th_hash'>Hash</th>
				</tr>
			</thead>
			<tbody>
				<% list.forEach(function(result, index){ %>
				<tr>
					<td scope="row"></th>
					<td id='td_betAmount'><%= result.betting %></td>
					<td id='td_com'><%= result.com %></td>
					<td id='td_user'><%= result.user %></td>
					<td id='td_result'><%= result.result %></td>
					<td id='td_hash'><a href="https://ropsten.etherscan.io/tx/<%= result.tx %>" target="_blank"><%= result.tx %></a></td>
				</tr>
				<% }); %>
			</tbody>
		</table>
	</div>

    <!-- 결과 창 가리기 -->
    <script>
        $("#img-com-result").attr('style', 'visibility:hidden');
        $("#img-ply-selected").attr('style', 'visibility:hidden');
    </script>

    <!-- enter key -->
    <script>
        $("#modalBalance").keydown(function(e) {
            let key = e.which;
            if (key == 13) {
                $("#balanceclose").click();
                location.href='/Rps'
            }
        })
        $("#modalRule").keydown(function(e) {
            let key = e.which;
            if (key == 13) {
                $("#ruleclose").click();
                location.href='/Rps'
            }
        })
    </script>

    <!-- 사용자 지갑 주소 -->
	<input type="hidden" name="address" class="form-control input_user" id="address" value="<%= address %>">

    <!-- Bootstrap core JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/freelancer.min.js"></script>

    <!-- web3 스크립트 -->
    <script type="text/javascript" src="/js/game_rps.js"></script>
</body>

</html>